		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Habitat</a>
					<nav id="nav">
						<a href="/web/signup">Sign up</a>
						<a href="/user/login">Local log in</a>
						<a href="/web/google/login">Google log in</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
