		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Habitat</a>
					<nav id="nav">
						<a href="/generic.html">Data</a>
						<a href="/elements.html">Notebooks</a>
						<a href="https://pennprovenance.net">Provenance</a>
						<a href="/logout?url=/?forcepostlogouturl">Log out</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
