<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Habitat Platform for Data Science</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>
		{{>header-nologin}}
		{{>banner-nologin}}

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Track Your Programs</h3>
							</header>

							<p>We'll watch how your programs affect data.</p>
							<footer>
								<a href="https://pennprovenance.net/index.php?n=Main.Tracker" class="button special">Download</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Track Your Data</h3>
							</header>
							<p>Archive data for <i>provenance</i>.</p>
							<footer>
								<a href="http://localhost:7474/browser" class="button special">Graph</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Run Analysis in Notebooks</h3>
							</header>
							<p>Full-fledged Jupyter with intelligent storage!</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		{{>footer}}
	</body>
</html>