<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Habitat Platform for Data Science</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<script>
		 function validate() {
		   var form = document.forms["register"];
		   if (form["username"].value == "" || form["password"].value == "" || 
		   form["email"].value == "") {
		   		alert("Must include username, email, and password");
		   		return false;
		   	}
		   	return true;
		 }
		</script>
	</head>
	<body class="subpage">
{{>header-nologin}}

<h2>Register for a Habitat User Account</h2>
<form name="register" action="{{callbackUrl}}" method="POST" onSubmit="return validate()">
	<div>User ID: <input type="text" name="username" value="{{ username }}" /></div>
	
	<div>First name: <input type="text" name="firstname" value="{{ firstname }}" /></div>
	<div>Last name: <input type="text" name="lastname" value="{{ lastname }}" /></div>
	
	<div>Email: <input type="text" name="email" value="{{ email }}" /></div>

	<div>Title: <input type="text" name="title" value="" /></div>
	<div>Organization: <input type="text" name="organization" value="" /></div>
	<div>Street: <input type="text" name="street1" value="" /></div>
	<div> <input type="text" name="street2" value="" /></div>
	<div>City: <input type="text" name="city" value="" /></div>
	<div>State: <input type="text" name="state" value="" /></div>
	<div>Zip: <input type="text" name="zip" value="" /></div>
	<div>Country: <input type="text" name="country" value="" /></div>
	<div>Phone: <input type="text" name="phone" value="" /></div>
	<div>Password: <input type="password" name="password" value="" /></div>
	<p />
	<input type="submit" name="submit" value="Submit" />
</form>
{{>footer}}
</body>
</html>