<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Habitat Platform for Data Science</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>

		{{>header-loggedin}}
		{{>banner}}

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Your Data</h3>
							</header>
							<!--
							<br /><br />
							profiles: {{profiles}}<br />
							<br />
							sessionId: {{sessionId}}
							-->

							<p>Your data is <a href="http://localhost:9000">here</a>.</p>
							<footer>
								<a href="https://bitbucket.org/penndb/hab-sync" class="button special">File Sync</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Provenance</h3>
							</header>
							<p>{{{visualizationText}}}</p>
							<p>The ProVision tool enables you to take provenance and <i>reconstruct</i> missing details,
							for instance which input records were used to generate an output record.</p>
							<footer>
								<a href="https://bitbucket.org/penndb/hab-repo" class="button special">Reconstruct</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Clients</h3>
							</header>
							<p>We have a custom provenance-preserving version of Jupyter Notebook.</p>
							<p>We also have a <a href="http://localhost:8081">provenance API</a> for recording streaming provenance.</p> 
							<footer>
								<a href="https://bitbucket.org/penndb/hab-python-client" class="button special">Python client</a>
							</footer>
						</article>
					</div>
				</div>
			</section>


		{{>footer}}
	</body>
</html>